.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f5f5f5; /* Светло-серый фон */
  width: 100%; /* Делаем блок на всю ширину экрана */
}

.form {
  width: 80%; /* Увеличиваем ширину формы */
  max-width: 600px; /* Максимальная ширина формы */
  padding: 40px;
  background-color: #fff; /* Белый фон */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень */
}
.form h2 {
  margin-bottom: 30px;
  color: #333; /* Темно-серый цвет */
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc; /* Светло-серая граница */
  outline: none;
  background-color: transparent;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: #666; /* Серый цвет */
  transition: 0.3s;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -15px;
  font-size: 12px;
  color: #009688; /* Зеленый цвет при фокусе или заполнении */
}

.error-text {
  color: #ff5722; /* Цвет ошибки - оранжевый */
  margin-top: 10px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #009688; /* Зеленый цвет */
  color: #fff; /* Белый цвет текста */
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #00796b; /* Темный зеленый при наведении */
}

.link-text {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #009688; /* Зеленый цвет */
  text-decoration: none;
  transition: 0.3s;
}

.link-text:hover {
  color: #00796b; /* Темный зеленый при наведении */
}
