.parent1 {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin: auto;
  flex-wrap: wrap;
}

.preview-img {
  width: 262px;
  height: 368px;
}

.container1 {
  max-width: 1280px;
  margin: auto;
}

main {
  position: relative;
}

.none{
  visibility: none;
  opacity: 0;
}

.column {
  display: flex;
  align-items: center;
  text-align: center;
  background: #2998e2;
  width: 35px;
  height: 368px;
  .playing {
    display: flex;
    align-items: center;
    rotate: -0.25turn;
    white-space: nowrap;
    width: 35px;
    color: #fff;
    font-family: "Abhaya Libre";
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 8.550000190734863px;
    margin-top: 120px;
  }
}

.wrapper {
  background: rgba(235, 54, 54, 0.8);
  text-align: center;
  padding-top: 33px;
  padding-bottom: 31px;
  color: white;
  transition: 0.5s;
}

.whole-block,
.whole-block2,
.whole-block3,
.whole-block4,
.whole-block5 {
  width: 262px;

  transition: 1s;
}

.wrapper:hover {
  background-color: rgba(255, 255, 255, 0.3733);
}

.next {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 169px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.positionClass {
  display: flex;
  
  position: absolute;
  top: 0;
}
